<% include partials/header %>
    <div class="container" style=" border-style: solid; border-color:#e8e2e2">
		<div class="row  text-center" style="display:flex; flex-wrap: wrap;">
            <div class="col-md-2"></div>
        		<div class="col-md-8" >
					<br/><br/>
					<h5 class="card-title"><%= item.title%></h5>
                        <img src="<%= item.image%>" class="card-img">
                </div>
			 <div class="col-md-2"></div>
			 <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="card-body">
                            
						<p class="card-text"><%= item.description%></p>
						<p class="card-text">Ride Type : <%= item.ridetype%></p>
						<p class="card-text">$<%= item.price.value%></p>
						<% if(cart.quantity) {%>
						<p class="card-text">Qty: <%= cart.quantity%></p>
						<% } %>
						<% if(user && user.type === "admin") { %>
								<div class="row admin-details">
								<form action="/items/<%= item._id%>?_method=DELETE" method="POST">
									<button class="btn btn-danger" type="submit">Delete</button>
								</form>  
								<a href="/items/edit/<%= item._id%>"><button class="btn btn-primary">Edit</button></a>
							</div>
						<%}%>
						<div class="row add-to-cart-group">
								<form action="/cart" method="POST">
									<div class="form-group">
										<input class="form-control" placeholder="id" type="hidden" name="_id" value=<%= item._id%>>
										<input class="form-control" placeholder="quantity" type="hidden" name="quantity" value=1>
									</div>
									<button class="btn btn-primary" type="submit">Add to Cart</button>
								</form>
                        
                                    <% if(cart.quantity) {%>
                                        <form action="/cart" method="POST">
                                            <div class="form-group">
                                                <input class="form-control" placeholder="id" type="hidden" name="_id" value=<%= item._id%>>
                                                <input class="form-control" placeholder="quantity" type="hidden" name="quantity" value=-1>
                                            </div>
                                            <button class="btn btn-danger" type="submit">Remove 1 item</button>
                                        </form>
                                    <% } %>
                            </div>
                        </div>
                        </div>
                    </div>

        </div>
<% include partials/footer %>


